#about{


    position: absolute;
    transform: rotate(90deg);

    color: #ffffff;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;

    font-size: 40px;


    top:210%;
    left: 90.2%;
    /*right: 98%;*/

}

#aboutline1{

    position: absolute;
    transform:rotate(90deg) ;
    top: 170%;
    left: 1324px;
    width: 270px;
    height: 6px; /* Adjust line thickness as needed */
    background-color: #ffffff; /* Line color */

}
#aboutline2{

    position: absolute;
    transform:rotate(90deg) ;
    top: 250%;
    left:1324px;
    width: 270px;
    height: 6px; /* Adjust line thickness as needed */
    background-color: #ffffff; /* Line color */


}


#aboutt {
    font-size: 64px;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
    position: absolute;
    top: 1050px;
    left: 765px; /* Adjust as needed */
    transform: translateX(50%);
    letter-spacing: 35px;


}

.about-text{
    position: absolute;
    top: 1480px;
    left: 1056px;
    transform: translate(-50%, -50%);
    padding: 40px;
    margin-bottom: 10px;
    font-size: 24px;
}

div a{
    text-decoration: none;
}

.aboutnew{
    color: #ffffff;
}

.aboutnew a.colorchange {
    color: #ffffff; /* Change to the desired color value */
}
.aboutnew a.colorchange:hover{
    color: #8F43EE;
}



