#assignmenttopic{
    font-size: 32px;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
    position: absolute;
    top: 3620px;
    left: 0.5%;
    transform: translateX(50%);
    letter-spacing: 35px;
}
#assignmet-section{
    position: absolute;
    top:3610px;
    left: 145px;
}

.sectionnumber{
    color:#ffffff;
    font-size: 70px;

}
.con


:root {
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);


    --fw-normal: 400;
    --fw-bold: 700;

    --clr: #000000;
}
.card2 {
    width: 200px;
    position: relative;
    margin: 20px;


}

.card2::before{
    content: '';
    position: absolute;
    width: 102%;
    height: 102%;
    border: 2px solid black;
    filter: blur(10px);
}
.card__content2 {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;

}
.card2:hover .card__content2 {
    transform: rotateY(.5turn);
}
.card__front2,
.card__back2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
}
.card__back2{

}
.card__front2 {
    /*
    background: linear-gradient(45deg, #384041, #236050, #041317);
    */
    background: linear-gradient(45deg, #000000, #808080);

    /*
    background: linear-gradient(45deg, #FFFFFF, #808080);
    */

    background-size: cover;
    background-blend-mode: overlay;
    color: rgb(255, 255, 255);
}
.card__front2::after{
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid #ffffff;
    filter: blur(10px);
    transform: var(--level-one);
}
.card__front2::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid #ffffff;
    transform: var(--level-one);
}
/*.card__title2 {
    font-size: 2.5rem;
    transform: var(--level-three);
    order: 1;
    text-transform: uppercase;
}*/

.card__title2 {

    font-size: 1rem;
    order: 1;
    transform: var(--level-three);
    text-transform: uppercase;
    writing-mode: vertical-rl; /* 'rl' stands for right-to-left, which makes the text flow from top to bottom */
    text-orientation: upright; /* upright orientation */
    letter-spacing: 14px;


}
.card__subtitle2 {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: var(--fw-bold);
    opacity: .7;
}
.card-back-button2{
    transform: var(--level-two);
    background-color: transparent;
    border: 3px solid ;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    position: absolute;
    bottom: 20px;
    top: -265px;
    left: 0;
    right: 0;
    margin: auto;
    color: black;
    font-size: 24px;
}

.card-back-button3{

    transform: var(--level-two);
    background-color: transparent;
    border: 3px solid ;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    position: absolute;
    bottom: 20px;
    top: -362px;
    left: 0;
    right: 0;
    margin: auto;
    color: black;
    font-size: 24px;

}

.card-back-button4{
    transform: var(--level-two);
    background-color: transparent;
    border: 3px solid ;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    position: absolute;
    bottom: 20px;
    top: -44px;
    left: 0;
    right: 0;
    margin: auto;
    color: black;
    font-size: 24px;
}

.card-back-button5{
    transform: var(--level-two);
    background-color: transparent;
    border: 3px solid ;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    position: absolute;
    bottom: 20px;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    color: black;
    font-size: 24px;
}
.card-back-button6{
    transform: var(--level-two);
    background-color: transparent;
    border: 3px solid ;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    position: absolute;
    bottom: -500px;
    top: -140px;
    left: 0;
    right: 0;
    margin: auto;
    color: black;
    font-size: 24px;
}
.card-back-button7{
    transform: var(--level-two);
    background-color: transparent;
    border: 3px solid ;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    position: absolute;
    bottom: 20px;
    top: 280px;
    left: 0;
    right: 0;
    margin: auto;
    color: black;
    font-size: 24px;
}
.card-back-button2:hover{
    color: #8F43EE;
}
.card-back-button2:visited{
    color: #808080;
}
.card-back-button3:hover{
    color: #8F43EE;
}
.card-back-button3:visited{
    color: #808080;
}
.card-back-button4:hover{
    color: #8F43EE;
}
.card-back-button5:hover{
    color: #8F43EE;
}
.card-back-button6:hover{
    color: #8F43EE;
}
.card-back-button7:hover{
    color: #8F43EE;
}
.card-back-button4:visited{
    color: #808080;
}
.card-back-button5:visited{
    color: #808080;
}
.card-back-button6:visited{
    color: #808080;
}
.card-back-button7:visited{
    color: #808080;
}
.card__body2 {
    transform: var(--level-two);
    font-weight: var(--fw-normal);
    font-size: 1.5rem;
    line-height: 1.6;
}
/*.image-in-card4{
    transform: var(--level-three);
    width: 288px;
}
.image-in-card4{
    transform: var(--level-three);
    width: 158px;
    position: relative;
    height: 140px;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: 40px;
}*/
.card__back2 {
    transform: rotateY(.5turn);
    color: white;
    /*
    background: linear-gradient(45deg, #041317, #384041, #236050);
    */
    /*  background: linear-gradient(45deg, #000000, #808080);*/
    background: linear-gradient(45deg, #FFFFFF, #808080);
    border: 3px solid #ffffff;
    position: absolute;




}
.paragraphs2{
    margin: 50px;
}
.paragraph-about-card2{
    display: none;
    flex-direction: row;
    color: white;
    overflow: hidden;
}
.paragraph-about-card2>p{
    margin: 50px;
    font-size: 20px;
}
.paragraph-about-card2>p>a{
    color: #89ffff;
}
.gradient-border2 {
    --borderWidth: 3px;
    background:#0c1022 ;
    position: relative;
    display: block;
    border-radius: var(--borderWidth);
}
/*.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 15s ease alternate infinite;
    background-size: 300% 300%;
}
.gradient-border:before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 15s ease alternate infinite;
    background-size: 300% 300%;
    filter: blur(5px);
}*/
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.selected{
    display: flex;
    transition: color 10s ease-in inherit;

}
.assignmets{
    display: flex;
    justify-content: space-between;
    padding: 70px 10% 0;
    flex-direction: column;
}
.cards2{
    display: flex;
    flex-direction: row;
    overflow-scrolling: auto;
    justify-content: space-around;
    scrollbar-base-color: transparent;
    scrollbar-track-color: transparent;
}
@keyframes animate {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.assignmets .topic{
    position: relative;
    padding-bottom: 129px;
}
@media all and (max-width: 1400px) {
    .card2 {
        width: 327px;
    }
    .card__body2 {
        font-size: 1.2rem;
    }
   /* .image-in-card1 {
        width: 245px;
        align-self: center;
    }*/
}
@media all and (max-width: 450px){
    @-ms-viewport {
        width: 450px;
    }

    .cards2{
        flex-direction: column;
        align-items: center;

    }
    .card2{
        width: 302px;
        height: 405px;
        margin-top: 5px;
    }
    .assignmets .topic {
        position: relative;
        padding-bottom: 87px;
    }
    .card__front2,.card__back2{
        width: 300px;
        height: 380px;
        padding: 1em 1em;
        place-items: center;
    }
    .paragraph-about-card2 {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 400px;
        overflow: scroll;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 9999;
        background-color: #0c1022;
    }

    .paragraph-about-card2::before {
        content: ' ';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 114vw;
        height: 113vh;
        background-color: #0c1022;
        filter: blur(10px);
        z-index: -20;

    }
    .paragraph-about-card2::-webkit-scrollbar {
        width: 0px;
    }

    .paragraph-about-card2>p{
        margin: 12px;
        font-size: 11px;
        text-align: center;
    }
    .paragraphs2 {
        position: fixed;
        display: none;
        z-index: 300;
        margin: 10px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .gradient-border2 {
        position: relative;
        z-index: 500;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    .paragraph-about-card2{
        transform: translate(-50%, 0%);
        position: relative;
        top: 0;
    }
}

#assignmentside{

    position: absolute;
    transform: rotate(90deg);

    color: #ffffff;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;

    font-size: 40px;


    top:50%;
    left: 93%;

}

#assignmentline1{

    position: absolute;
    transform:rotate(90deg) ;
    top: 22%;
    left: 1249px;
    width: 125px;
    height: 6px;
    background-color: #ffffff;

}

#assignmentline2{

    position: absolute;
    transform:rotate(90deg) ;
    top: 84%;
    left:1249px;
    width: 125px;
    height: 6px;
    background-color: #ffffff;

}
/*
#contactname{

    position: absolute;
    top: 7000px;

}*/






@media  (max-width: 768px){


    #assignmentside{

        position: absolute;
        transform: rotate(90deg);

        color: #ffffff;
        font-family: "Lexend Zetta", sans-serif;
        font-optical-sizing: auto;
        font-weight:bold;

        font-size: 40px;


        top:50%;
        left: 86.15%;
        display: none;

    }

    #assignmentline1{

        position: absolute;
        transform:rotate(90deg) ;
        top: 22%;
        left: 1249px;
        width: 125px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

    #assignmentline2{

        position: absolute;
        transform:rotate(90deg) ;
        top: 84%;
        left:1249px;
        width: 125px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

    .assignmets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards2 {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px; /* Adds space between the cards */
        position: absolute;
        left: 40px;
        top: 1340px;
    }

    #assignmenttopic{
        font-size: 24px;
        font-weight: bold;
        font-family: "Audiowide", sans-serif;
        position: absolute;
        top: 4780px;
        left: -35%;
        transform: translateX(50%);
        letter-spacing: 35px;
    }

    .card2 {
        width: 100%; /* Make the card take full width of its container */
        max-width: 600px; /* Optional: Limit the maximum width of each card */
        margin: 0 auto; /* Center the card horizontally */
        position: relative;
    }

    .card__content2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__front2, .card__back2 {
        width: 100%;
    }

    .card__title2, .card__body2 {
        text-align: center;
    }

   /* !* Media Query for screen width 768px or less *!
    @media screen and (max-width: 768px) {
        .card2 {
            max-width: 100%; !* Ensure cards are still full width on smaller screens *!
        }
    }*/


}



@media  (max-width: 425px){


    #assignmentside{

        position: absolute;
        transform: rotate(90deg);

        color: #ffffff;
        font-family: "Lexend Zetta", sans-serif;
        font-optical-sizing: auto;
        font-weight:bold;

        font-size: 40px;


        top:50%;
        left: 86.15%;
        display: none;

    }

    #assignmentline1{

        position: absolute;
        transform:rotate(90deg) ;
        top: 22%;
        left: 1249px;
        width: 125px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

    #assignmentline2{

        position: absolute;
        transform:rotate(90deg) ;
        top: 84%;
        left:1249px;
        width: 125px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

    .assignmets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards2 {
        height: 700px;
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px; /* Adds space between the cards */
        position: absolute;
        left: -80px;
        top: 1040px;
    }

    #assignmenttopic{
        font-size: 16.5px;
        font-weight: bold;
        font-family: "Audiowide", sans-serif;
        position: absolute;
        top: 4000px;
        left: -189.5px;
        transform: translateX(50%);
        letter-spacing: 20px;
    }

    .card2 {
        width: 100%; /* Make the card take full width of its container */
        max-width: 600px; /* Optional: Limit the maximum width of each card */
        margin: 0 auto; /* Center the card horizontally */
        position: relative;
    }

    .card__content2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__front2, .card__back2 {
        width: 100%;
    }

    .card__title2, .card__body2 {
        text-align: center;
    }

    /* !* Media Query for screen width 768px or less *!
     @media screen and (max-width: 768px) {
         .card2 {
             max-width: 100%; !* Ensure cards are still full width on smaller screens *!
         }
     }*/


}




@media  (width: 375px){


    #assignmentside{

        position: absolute;
        transform: rotate(90deg);

        color: #ffffff;
        font-family: "Lexend Zetta", sans-serif;
        font-optical-sizing: auto;
        font-weight:bold;

        font-size: 40px;


        top:50%;
        left: 86.15%;
        display: none;

    }

    #assignmentline1{

        position: absolute;
        transform:rotate(90deg) ;
        top: 22%;
        left: 1249px;
        width: 125px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

    #assignmentline2{

        position: absolute;
        transform:rotate(90deg) ;
        top: 84%;
        left:1249px;
        width: 125px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

    .assignmets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards2 {
        height: 700px;
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: 20px; /* Adds space between the cards */
        position: absolute;
        left: -80px;
        top: 1040px;
    }

    #assignmenttopic{
        font-size: 15px;
        font-weight: bold;
        font-family: "Audiowide", sans-serif;
        position: absolute;
        top: 4000px;
        left: -179.5px;
        transform: translateX(50%);
        letter-spacing: 20px;
    }

    .card2 {
        width: 100%; /* Make the card take full width of its container */
        max-width: 600px; /* Optional: Limit the maximum width of each card */
        margin: 0 auto; /* Center the card horizontally */
        position: relative;
    }

    .card__content2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__front2, .card__back2 {
        width: 100%;
    }

    .card__title2, .card__body2 {
        text-align: center;
    }

    /* !* Media Query for screen width 768px or less *!
     @media screen and (max-width: 768px) {
         .card2 {
             max-width: 100%; !* Ensure cards are still full width on smaller screens *!
         }
     }*/


}