
body {
    background-color: #808080; /* Gray background color */
    color: white; /* Text color for contrast */
    font-family: Arial, sans-serif; /* Font styling */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); !* Slightly transparent black background for content *!
    border-radius: 10px; !* Rounded corners *!
}*/

h1 {

  /*  margin-bottom: 20px;
    text-align: center;*/

    font-size: 62px;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
    position: absolute;
    color: black;
    left: 40px;
    top: 10px;
    transform: translateX(50%);
    letter-spacing: 35px;




}
/*
p {
    font-size: 1.2em;
}*/

/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}*/

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.bouncing-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    outline: none;
    position: relative;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.bouncing-button:hover {
    background-color: #0056b3;
}

