#contacttopic {
    font-size: 32px;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
    position: absolute;
    top: 4340px;
    left: 1%;
    transform: translateX(50%);
    letter-spacing: 35px;
}

#contact-para{
    position: absolute;
    top: 4514px;
    left: 160px;
    font-size: 32px;
    font-weight: bold;
}
#contactimg{
    position: absolute;
    top: 4610px;
    left: 162px;
}

#contactside{

    position: absolute;
    transform: rotate(90deg);

    color: #ffffff;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;

    font-size: 40px;


    top:682%;
    left: 88.5%;


}
#contactline1{

    position: absolute;
    transform:rotate(90deg) ;
    top: 647%;
    left: 1329.2px;
    width: 255px;
    height: 6px;
    background-color: #ffffff;

}
#contactline2{

    position: absolute;
    transform:rotate(90deg) ;
    top: 722%;
    left:1329.2px;
    width: 255px;
    height: 6px;
    background-color: #ffffff;

}
#name {
        position: absolute;
        width: 610px;
        height: 28px;
        top: 4700px;
        left: 735px;
        border: 2px solid grey;
        background-color: grey;

}







#email{

    position: absolute;
    width: 610px;
    height: 28px;
    top: 4800px;
    left: 735px;
    border: 2px solid grey;
    background-color: grey;

}

#mobile{

    position: absolute;
    width: 610px;
    height: 28px;
    top: 4900px;
    left: 735px;
    border: 2px solid grey;
    background-color: grey;



}
#details{

    position: absolute;
    width: 610px;
    height: 28px;
    top: 5000px;
    left: 735px;
    border: 2px solid grey;
    background-color: grey;

}
#name0{

    position: absolute;
    width: 610px;
    height: 28px;
    top: 4675px;
    left: 735.5px;

}

#email0{

    position: absolute;
    width: 610px;
    height: 28px;
    top: 4775px;
    left: 735.5px;

}
#mobile0{
    position: absolute;
    width: 610px;
    height: 28px;
    top: 4875px;
    left: 735.5px;

}
#details0{
    position: absolute;
    width: 610px;
    height: 28px;
    top: 4975px;
    left: 735.5px;

}
#nameline{
    position: absolute;
    top: 4728px;
    width: 610px;
    height: 2px;
    left: 735px;
   background-color: black;
}
#nameline2{
    position: absolute;
    top: 4828px;
    width: 610px;
    height: 2px;
    left: 735px;
    background-color: black;
}
#nameline3{

    position: absolute;
    top: 4928px;
    width: 610px;
    height: 2px;
    left: 735px;
    background-color: black;

}
#nameline4{
    position: absolute;
    top: 5028px;
    width: 610px;
    height: 2px;
    left: 735px;
    background-color: black;

}
#button{


    position: absolute;
    top: 5117px;
    left: 940px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    color: #FFFFFF;
    background-color: black;
    border: 2px solid white;


}