body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 5350px;
    height: 40%;
}
