#projecttopic{

    font-size: 32px;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
    position: absolute;
    top: 2000px;
    left: 17.1%;
    transform: translateX(50%);
    letter-spacing: 35px;

}

:root {
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);


    --fw-normal: 400;
    --fw-bold: 700;

    --clr: #000000;
}
.card {
    width: 400px;
    position: relative;
}

.card::before{
    content: '';
    position: absolute;
    width: 102%;
    height: 102%;
    border: 2px solid black;
    filter: blur(10px);
}
.card__content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
}
.card:hover .card__content {
    transform: rotateY(.5turn);
}
.card__front,
.card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
}
.card__back{

}
.card__front {
    /*
    background: linear-gradient(45deg, #384041, #236050, #041317);
    */
    background: linear-gradient(45deg, #000000, #808080);

    /*
    background: linear-gradient(45deg, #FFFFFF, #808080);
    */

    background-size: cover;
    background-blend-mode: overlay;
    color: rgb(255, 255, 255);
}
.card__front::after{
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid #ffffff;
    filter: blur(10px);
    transform: var(--level-one);
}
.card__front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid #ffffff;
    transform: var(--level-one);
}
.card__title {
    font-size: 2.5rem;
    transform: var(--level-three);
    order: 1;
    text-transform: uppercase;
}
.card__subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: var(--fw-bold);
    opacity: .7;
}
.card-back-button{
    transform: var(--level-two);
    background-color: transparent;
    border: 3px solid ;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    color: #000000;
    font-size: 24px;
}
.card-back-button:hover{
    color: #8F43EE;
}
.card-back-button:visited{
    color: greenyellow;
}


.card__body {
    transform: var(--level-two);
    font-weight: var(--fw-normal);
    font-size: 1.5rem;
    line-height: 1.6;
}
.image-in-card1{
    transform: var(--level-three);
    width: 288px;
}
.image-in-card2{
    transform: var(--level-three);
    width: 158px;
    position: relative;
    height: 140px;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: 40px;
}
.card__back {
    transform: rotateY(.5turn);
    color: white;
    /*
    background: linear-gradient(45deg, #041317, #384041, #236050);
    */
  /*  background: linear-gradient(45deg, #000000, #808080);*/
    background: linear-gradient(45deg, #FFFFFF, #808080);


}
.paragraphs{
    margin: 50px;
}
.paragraph-about-card{
    display: none;
    flex-direction: row;
    color: white;
    overflow: hidden;
}
.paragraph-about-card>p{
    margin: 50px;
    font-size: 20px;
}
.paragraph-about-card>p>a{
    color: #89ffff;
}
.gradient-border {
    --borderWidth: 3px;
    background:#0c1022 ;
    position: relative;
    display: block;
    border-radius: var(--borderWidth);
}
/*.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 15s ease alternate infinite;
    background-size: 300% 300%;
}
.gradient-border:before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 15s ease alternate infinite;
    background-size: 300% 300%;
    filter: blur(5px);
}*/
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.selected{
    display: flex;
    transition: color 10s ease-in inherit;

}
.projects{
    display: flex;
    justify-content: space-between;
    padding: 70px 10% 0;
    flex-direction: column;
}
.cards{
    display: flex;
    flex-direction: row;
    overflow-scrolling: auto;
    justify-content: space-around;
    scrollbar-base-color: transparent;
    scrollbar-track-color: transparent;
}
@keyframes animate {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.projects .topic{
    position: relative;
    padding-bottom: 129px;
}
@media all and (max-width: 1400px) {
    .card {
        width: 327px;
    }
    .card__body {
        font-size: 1.2rem;
    }
    .image-in-card1 {
        width: 245px;
        align-self: center;
    }
}
@media all and (max-width: 450px){
    @-ms-viewport {
        width: 450px;
    }

    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 302px;
        height: 405px;
        margin-top: 5px;
    }
    .projects .topic {
        position: relative;
        padding-bottom: 87px;
    }
    .card__front,.card__back{
        width: 300px;
        height: 380px;
        padding: 1em 1em;
        place-items: center;
    }
    .paragraph-about-card {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 400px;
        overflow: scroll;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 9999;
        background-color: #0c1022;
    }

    .paragraph-about-card::before {
        content: ' ';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 114vw;
        height: 113vh;
        background-color: #0c1022;
        filter: blur(10px);
        z-index: -20;

    }
    .paragraph-about-card::-webkit-scrollbar {
        width: 0px;
    }

    .paragraph-about-card>p{
        margin: 12px;
        font-size: 11px;
        text-align: center;
    }
    .paragraphs {
        position: fixed;
        display: none;
        z-index: 300;
        margin: 10px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .gradient-border {
        position: relative;
        z-index: 500;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    .paragraph-about-card{
        transform: translate(-50%, 0%);
        position: relative;
        top: 0;
    }
}

#projectside{

    position: absolute;
    transform: rotate(90deg);

    color: #ffffff;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;

    font-size: 40px;


    top:397.5%;
    left: 88.88%;

}

#projectline1{

    position: absolute;
    transform:rotate(90deg) ;
    top: 335%;
    left: 1149px;
    width: 620px;
    height: 6px;
    background-color: #ffffff;

}

#projectline2{

    position: absolute;
    transform:rotate(90deg) ;
    top: 461.5%;
    left:1179px;
    width: 555px;
    height: 6px;
    background-color: #ffffff;

}












@media  (max-width: 768px) {


    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px; /* Adds space between the cards */
    }

    .card {
        width: 100%; /* Make the card take full width of its container */
        max-width: 400px; /* Optional: Limit the maximum width of each card */
        margin: 0 auto; /* Center the card horizontally */
        position: relative;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__front, .card__back {
        width: 100%;
    }

    .card__title, .card__subtitle, .card__body {
        text-align: center;
    }
    #projecttopic{
        font-size: 24px;
        font-weight: bold;
        font-family: "Audiowide", sans-serif;
        position: absolute;
        top: 1910px;
        left: -35px;
        transform: translateX(50%);
        letter-spacing: 35px;
    }








    #projectside{

        position: absolute;
        transform: rotate(90deg);

        color: #ffffff;
        font-family: "Lexend Zetta", sans-serif;
        font-optical-sizing: auto;
        font-weight:bold;

        font-size: 40px;


        top:397.5%;
        left: 88.88%;
        display: none;

    }

    #projectline1{

        position: absolute;
        transform:rotate(90deg) ;
        top: 335%;
        left: 1149px;
        width: 620px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

    #projectline2{

        position: absolute;
        transform:rotate(90deg) ;
        top: 461.5%;
        left:1179px;
        width: 555px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

}




@media  (max-width: 425px) {


    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px; /* Adds space between the cards */
    }

    .card {
        width: 100%; /* Make the card take full width of its container */
        max-width: 400px; /* Optional: Limit the maximum width of each card */
        margin: 0 auto; /* Center the card horizontally */
        position: relative;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__front, .card__back {
        width: 100%;
    }

    .card__title, .card__subtitle, .card__body {
        text-align: center;
    }
    #projecttopic{
        font-size: 16.5px;
        font-weight: bold;
        font-family: "Audiowide", sans-serif;
        position: absolute;
        top: 1910px;
        left: -150px;
        transform: translateX(50%);
        letter-spacing: 35px;
    }








    #projectside{

        position: absolute;
        transform: rotate(90deg);

        color: #ffffff;
        font-family: "Lexend Zetta", sans-serif;
        font-optical-sizing: auto;
        font-weight:bold;

        font-size: 40px;


        top:397.5%;
        left: 88.88%;
        display: none;

    }

    #projectline1{

        position: absolute;
        transform:rotate(90deg) ;
        top: 335%;
        left: 1149px;
        width: 620px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

    #projectline2{

        position: absolute;
        transform:rotate(90deg) ;
        top: 461.5%;
        left:1179px;
        width: 555px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

}



@media  (width: 375px) {


    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px; /* Adds space between the cards */
    }

    .card {
        width: 100%; /* Make the card take full width of its container */
        max-width: 400px; /* Optional: Limit the maximum width of each card */
        margin: 0 auto; /* Center the card horizontally */
        position: relative;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__front, .card__back {
        width: 100%;
    }

    .card__title, .card__subtitle, .card__body {
        text-align: center;
    }
    #projecttopic{
        font-size: 14.5px;
        font-weight: bold;
        font-family: "Audiowide", sans-serif;
        position: absolute;
        top: 1910px;
        left: -160px;
        transform: translateX(50%);
        letter-spacing: 35px;
    }








    #projectside{

        position: absolute;
        transform: rotate(90deg);

        color: #ffffff;
        font-family: "Lexend Zetta", sans-serif;
        font-optical-sizing: auto;
        font-weight:bold;

        font-size: 40px;


        top:397.5%;
        left: 88.88%;
        display: none;

    }

    #projectline1{

        position: absolute;
        transform:rotate(90deg) ;
        top: 335%;
        left: 1149px;
        width: 620px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

    #projectline2{

        position: absolute;
        transform:rotate(90deg) ;
        top: 461.5%;
        left:1179px;
        width: 555px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

}



/*




@media  (max-width: 1024px) {


    #projecttopic{
        font-size: 24px;
        font-weight: bold;
        font-family: "Audiowide", sans-serif;
        position: absolute;
        top: 1910px;
        left: -35px;
        transform: translateX(50%);
        letter-spacing: 35px;
    }








    #projectside{

        position: absolute;
        transform: rotate(90deg);

        color: #ffffff;
        font-family: "Lexend Zetta", sans-serif;
        font-optical-sizing: auto;
        font-weight:bold;

        font-size: 40px;


        top:397.5%;
        left: 88.88%;
        display: none;

    }

    #projectline1{

        position: absolute;
        transform:rotate(90deg) ;
        top: 335%;
        left: 1149px;
        width: 620px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

    .card {
        width: 300px;
        position: relative;
    }

    #projectline2{

        position: absolute;
        transform:rotate(90deg) ;
        top: 461.5%;
        left:1179px;
        width: 555px;
        height: 6px;
        background-color: #ffffff;
        display: none;

    }

}



*/










